#services{
  padding-top: 75px;
  padding-right: 0;
  padding-left: 0;
  /*min-height: 775px;*/
  background: url('../../assets/images/service-bg.png') 50% 0 repeat;
  position: absolute;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}
#services .color-overlay {
    background: rgba(39,144,176, 0.96);
    /*margin-top: -100px;
    padding-top: 100px;    */
    padding-top: 75px;
    min-height: 100vh;
    width: 100%;
    position: absolute;
}
.light-torq{
  color: #61C4E0;
}
